html {
    scroll-behavior: smooth;
}

.vehicle-list-menu{
    width: 75%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vehicle-list-menu h3{
    color: #f7fafc;
}

#sort-button{
    border: none;
    color: #f7fafc;
}

.loading-animation{
    margin: 0 auto;
    width: 150px;
    height: fit-content;
}

#filter-dropdown{
    border: #C04848;
    color: #f7fafc;
    margin-right: 10px;
}

#filter-dropdown:active{
    background-color: #C04848 !important;
}